version: '3.8'

services:
  app:
    build: .
    container_name: mini-tpn
    ports:
      - "3000:3000"
    volumes:
      - .:/app
      - /app/node_modules
    environment:
      - MONGO_URI=mongodb://mongo:27017/mini-tpn
      - SECRET_KEY=IniAdalahSecretKey
      - JWT_SECRET=IniAdalahJWTSecretKey
    depends_on:
      - mongo

  mongo:
    image: mongo:6.0
    container_name: mongo
    ports:
      - "27017:27017"
    volumes:
      - mongo-data:/data/db

volumes:
  mongo-data: